p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.model {
  font-size: 35px;
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.touchless {
  text-decoration: underline;
}